button {
	align-items: center;
	background-color: transparent;
	color: black;
	cursor: pointer;
	display: 'flex';
	justify-content: center;
	padding: 0.25rem;
	border: none;
}

@media (prefers-color-scheme: dark) {
	button {
		color: white;
	}
}

